<header class="header" id="header">
        <div class="header__nav">
            <div class="header__logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <nav class="header__navbar" id="header__navbar">
                <a href="#" class="header__link" data-scroll="header">Главная</a>
                <a href="#" class="header__link" data-scroll="course">Курсы</a>
                <a href="#" class="header__link" data-scroll="program">Расписание</a>
                <a href="#" class="header__link" data-scroll="teachers">Преподаватели</a>
                <a href="#" class="header__link" data-scroll="footer">Рассылка</a>
                <a href="#" class="header__link" data-scroll="footer">Контакты</a>
            </nav><!-- ./header__navbar -->

            <div>
                <button class="header__burger" type="button" id="navToggle">
                    <span class="header__burger-item">Menu</span>
                </button>
            </div>

            <div class="header__openCabinet">
                <button class="btn btn-blue" type="button">Зайти в кабинет</button>
            </div><!-- ./header__openCabinet -->
        </div><!-- ./header__nav -->

    <div class="container">
        <div class="header__title">Первый курс <br> по компьютерной сборке</div>

        <div class="header__time">
            <div class="header__block">
                <div class="header__count">18</div>
                <div class="header__timer">Дней</div>
            </div>

            <div class="header__block">
                <div class="header__count">18</div>
                <div class="header__timer">Часов</div>
            </div>

            <div class="header__block">
                <div class="header__count">18</div>
                <div class="header__timer">Минут</div>
            </div>

            <div class="header__block">
                <div class="header__count">18</div>
                <div class="header__timer">Секунд</div>
            </div>
        </div>
    </div><!-- ./container -->
</header><!--./header-->


